	   <h1>Welcome,  <%= @name %></h1>

	   <p>Make yer move, punk!</p>

  <body>

	<form action="/game_screen/result" method="post"> 
		<input type="image" src='/pictures/rock.jpg' name='choice_one' value='rock'>
		<input type="image" src='/pictures/paper.jpg' name='choice_one' value='paper'>
		<input type="image" src='/pictures/scissors.jpg' name='choice_one' value='scissors'>
	</form>
 </body>