	   <h1>Welcome  <%= @name %></h1>

	   <p>Make yer move, punk!</p>

  <body>

	 
	<a href='/comp_turn'><input type="image" src='/pictures/rock.jpg' value='rock'></a>
	<a href='/comp_turn'><input type="image" src='/pictures/paper.jpg' value='paper'></a>
	<a href='/comp_turn'><input type="image" src='/pictures/scissors.jpg' value='scissors'></a>
 </body>

 

 


