   <h1>Welcome  <%= @name %></h1>

   <p>Make yer move, punk!</p>


 <form action="/rock" method= "get">
   <input  type="submit" value="Rock">
 <img src='/pictures/rock.jpg'> 
 </form>


<form action="/paper" method= "get">
   <input  type="submit" value="Paper">
 <img src='/pictures/paper.jpg'> 
 </form>


 <form action="/scissors" method= "get">
   <input  type="submit" value="Scissors">
 <img src='/pictures/scissors.jpg'> 
 </form>

 

 


